@import '../../../style/vars';

@media (max-width: 1200px) {
  .beer-page .fav-beer-btn {
    font-size: 4rem;
  }
}

@media (max-width: 700px) {
  .beer-page .fav-beer-btn {
    font-size: 3rem;
  }
}

%favorite-effect {
  color: $label-btn;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: $label-btn_h;
  }
}

.favorite-btn {
  @extend %favorite-effect;
  font-size: 1.125rem;
}

.fav-beer-btn {
  @extend %favorite-effect;
  position: fixed;
  color: $fav-beer-btn-color;
  right: 10px;
  bottom: 5px;
  font-size: 5rem;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.7);
}

.button-for-search {
  height: 49px;
  margin: 15px;
  padding: 7px 25px;
  border: 1px solid #838383;
  border-radius: 8px;
  outline: none;
  font-size: 1.8em;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  background-color: $search-btn-bg;
  color: $search-btn-c;
  transition: 0.1s background-color ease-in-out;

  &:hover {
    background-color: $search-btn-bg-h;
  }

  &:active {
    background-color: $search-btn-bg-act;
  }
}
