@import '../../../style/vars';

@media (max-width: 1500px) {
  .beer-page .method-wrapper {
    margin: 20px 20px 10px;
  }
}

@media (max-width: 550px) {
  .beer-page .method-wrapper {
    margin: 15px 0 40px;
  }
}

.method-wrapper {
  margin-top: 25px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.method li {
  max-width: 450px;
  min-width: 250px;
  padding: 5px;
  border-bottom: 1px solid rgb(107, 107, 107);
}

.method h4 {
  margin: 0 0 5px 8px;
}

.method span {
  display: block;
  margin-bottom: 3px;
  font-style: oblique;
  text-indent: 3px;
}
