@import '../../../style/vars';

@media (max-width: 750px) {
  .app .content {
    width: 95%;
  }
}

.app {
  min-height: 100vh;
  background: url('../../../image/bground.jpg') no-repeat fixed;
  background-size: cover;
}

.content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
