$main-bg-url: url('../../../image/bground.jpg');

$default-font-size: 16px;

$header-color: rgba(0, 0, 0, 0.9);

$page-bg: rgba(255, 255, 255, 0.55);
$page-border: rgba(255, 255, 255, 0.8);

$menu-bg: rgb(51, 51, 51);
$menu-nav-link-color: rgb(52, 180, 132);
$menu-nav-link-bg_h: rgb(240, 240, 240);
$menu-nav-link-color_h: rgb(0, 0, 0);

$hamburger-color: rgb(255, 81, 0);
$hamburger-color_h: rgb(255, 255, 255);

$spinner-bg: rgba(0, 0, 0, 0.8);
$circle-bg-first: rgb(0, 0, 0);
$circle-bg-second: rgb(255, 255, 255);

$beer-label-bg: rgb(255, 255, 255);
$beer-label-color: rgb(37, 21, 16);
$label-btn: rgb(83, 59, 1);
$label-btn_h: rgb(255, 176, 7);
$fav-beer-btn-color: rgb(182, 174, 174);

$beer-page-bg: rgba(255, 255, 255, 0.9);
$beer-page-border: rgb(114, 114, 114);

$ingredients-color: rgb(107, 107, 107);

$list-bg: rgb(255, 255, 255);
$list-border-color: rgb(114, 114, 114);

$prop-value-bg: rgb(68, 68, 68);
$prop-value-color: rgb(255, 255, 255);
$prop-info-i: rgb(212, 212, 212);
$prop-info-i-h: rgb(173, 219, 247);

$tagline-color: rgb(107, 107, 107);

$tooltip-bg: rgba(2, 2, 27, 0.85);
$tooltip-color: rgb(255, 255, 255);

$search-btn-bg: rgba(255, 95, 0, 0.8);
$search-btn-bg-h: rgba(248, 140, 51, 0.8);
$search-btn-bg-act: rgba(253, 182, 124, 0.8);
$search-btn-c: rgb(255, 255, 255);

$infinite-loading-color: rgb(160, 51, 0);
